<template>
  <div>
    <app-header></app-header>
    <app-vehicles></app-vehicles>
  </div>
</template>

<script>

import Header from './Header.vue';
import VehiclesTemplate from './VehiclesTemplate.vue';

export default {
    components: {
        'app-header': Header,
        'app-vehicles': VehiclesTemplate
    }
}

</script>
