<template>
	<div class="container-fluid">

		<div class="col-md-12">
			<div class="alert alert-info" role="alert" v-show="loading">Loading...</div>
		</div>

		<div class="col-md-8">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Vehicle List</h3>
			  </div>
			  <table class="table table-striped table-bordered">
				<thead> 
					<tr> 
						<th>#</th> 
						<th>Vehicle</th> 
						<th>Price</th> 
						<th>Displacement</th> 
						<th style="display:none;/*show if needed*/"></th> 
					</tr> 
				</thead> 
				<tbody> 
					<tr v-for="vehicle in vehicles" :key="vehicle.id"> 
						<th scope="row">{{vehicle.id}}</th> 
						<td>{{vehicle.brand}} {{vehicle.model}} - {{vehicle.transmission}} - {{vehicle.engine_power}}HP</td>
						<td>{{ formatPrice(vehicle.price) }}</td> 
						<td>
							{{ viewDisplacements(vehicle.displacement_base_unit,vehicle.displacement_value,'L') }} L <br />
							{{ viewDisplacements(vehicle.displacement_base_unit,vehicle.displacement_value,'CC') }} CC <br />
							{{ viewDisplacements(vehicle.displacement_base_unit,vehicle.displacement_value,'CID') }} CID <br />
						</td> 
						<td style="display:none;/*show if needed*/">
			                <button type="button" class="btn btn-xs btn-danger" @click.prevent="deletePost(vehicle.id)">Delete</button>
			                <button type="button" class="btn btn-xs btn-warning" @click.prevent="populatePostToEdit(vehicle)">Edit</button></li>
						</td> 
					</tr> 
				</tbody>
			  </table>
			</div>
		</div>

		<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{ (model.id ? 'Edit Vehicle ID # ' + model.id : 'New Vehicle') }}</h3>
		  </div>
		  <div class="panel-body">
		    <form @submit.prevent="savePost">
		    	<p class="alert alert-warning" v-if="errors.length">
					<b>Please correct the following error(s):</b>
					<ul> <li v-for="error in errors">{{ error }}</li> </ul>
				</p>
			  <div class="form-group">
			    <label for="brand">Vehicle Brand</label>
			    <input type="text" class="form-control" id="brand" v-model="model.brand">
			  </div>
			  <div class="form-group">
			    <label for="model">Vehicle Model</label>
			    <input type="text" class="form-control" id="model" v-model="model.model">
			  </div>
			  <div class="form-group">
			    <label for="transmission">Vehicle Transmission</label>
			    <select class="form-control" id="transmission" v-model="model.transmission">
			    	<option value="MT">MT</option>
			    	<option value="AT">AT</option>
			    	<option value="Electric">Electric Transmission</option>
			    </select>
			  </div>
			  <div class="form-group">
			    <label for="engine_power">Engine Power (HP)</label>
			    <input type="text" class="form-control" id="engine_power" v-model="model.engine_power">
			  </div>
			  <div class="form-group">
			    <label for="displacement_base_unit">Displacement Type</label>
			    <select class="form-control" id="displacement_base_unit" v-model="model.displacement_base_unit">
			    	<option value="L">L</option>
			    	<option value="CC">CC</option>
			    	<option value="CID">CID</option>
			    </select>
			  </div>
			  <div class="form-group">
			    <label for="displacement_value">Displacement Value</label>
			    <input type="text" class="form-control" id="displacement_value" v-model="model.displacement_value">
			  </div>
			  <div class="form-group">
			    <label for="price">Vehicle Price</label>
			    <input type="text" class="form-control" id="price" v-model="model.price">
			  </div>
			  <div class="form-group">
			    <label for="location">Vehicle Location</label>
			    <input type="text" class="form-control" id="location" v-model="model.location">
			  </div>
			  <div class="text-right">
			  	<button type="submit" class="btn btn-info">Submit</button>
			  </div>
			</form>
		  </div>
		</div>
	</div>

	</div>
</template>

<script>

import api from './api'

export default {
	data () {
		return {
			errors: [],
			loading: false,
			vehicles: [],
			model: {}
		}
	},
	async created () {
		this.refreshPosts()
	},
	methods: {
		formatPrice(x){
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		},
		viewDisplacements(unit,value,tounit) {
			var LVal,CCVal,CIDVal;
			switch(unit){
				case 'L': LVal = value; CIDVal = (LVal*61.01).toFixed(2); CCVal = (CIDVal*16.39).toFixed(2); break;
				case 'CC': CCVal = value; CIDVal = (CCVal*0.06101).toFixed(2); LVal = (CIDVal*0.01639).toFixed(2); break;
				case 'CID': CIDVal = value; CCVal = (CIDVal*16.39).toFixed(2); LVal = (CIDVal*0.01639).toFixed(2); break;
			}
			switch(tounit){
				case 'L': return LVal;
				case 'CC': return CCVal;
				case 'CID': return CIDVal;
			}
			return;
		},
	    async refreshPosts () {
	      this.loading = true
	      this.vehicles = await api.getPosts()
	      this.loading = false
	    },
	    async populatePostToEdit (vehicle) {
	      this.errors = [];
	      this.model = Object.assign({}, vehicle)
	    },
	    async savePost () {
	      // validate
	      this.errors = [];
	      if (!this.model.brand) {
	        this.errors.push('Brand required.');
	      }
	      if (!this.model.model) {
	        this.errors.push('Model required.');
	      }
	      if (!this.model.transmission) {
	        this.errors.push('Transmission required.');
	      }
	      if (!this.model.engine_power) {
	        this.errors.push('Engine Power required.');
	      }
	      if (!this.model.displacement_base_unit) {
	        this.errors.push('Displacement Type required.');
	      }
	      if (!this.model.displacement_value) {
	        this.errors.push('Displacement Value required.');
	      }
	      if (!this.model.price) {
	        this.errors.push('Price required.');
	      }
	      if (!this.model.location) {
	        this.errors.push('Location required.');
	      }
	      if(this.errors.length)
	      	return;

	      if (this.model.id) {
	        await api.updatePost(this.model.id, this.model)
	      	alert('Vehicle Updated');
	      } else {
	        await api.createPost(this.model)
	      	alert('Vehicle Added');
	      }
	      this.model = {} // reset form
	      await this.refreshPosts()
	    },
	    async deletePost (id) {
	      if (confirm('Are you sure you want to delete this vehicle?')) {
	        // if we are editing a vehicle we deleted, remove it from the form
	        if (this.model.id === id) {
	          this.model = {}
	        }
	        await api.deletePost(id)
	        alert('Vehicle Deleted');
	        await this.refreshPosts()
	      }
	    }
  }

}

</script>